.ghost-content {
  h3 {
    @apply font-caps;
  }

  p {
    @apply my-3;
  }

  ul,
  ol {
    @apply list-outside pl-8;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply mb-2;
  }
}

$accent-colors: 'mint', 'pistachio', 'butter', 'peach', 'grape', 'blueberry';

@each $color in $accent-colors {
  $length: length($accent-colors);
  $index: index($accent-colors, $color);
  $selector: #{$length + 'n + ' $index};
  .ghost-content {
    h2:nth-of-type(#{$selector}) .washi-mask {
      @apply #{'bg-' + $color};
    }

    li:nth-of-type(#{$selector})::marker {
      @apply #{'text-' + $color};
    }
  }
}
